/*General*/

html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: whitesmoke;
    
}

/*Sidebar*/

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    background-color: lightblue;
    z-index: 1;
}

.sidebar-header {
    padding-left: 10px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-header .rooms-list {
    margin: 0 5px;
}

.sidebar-header .new-button {
   margin: 0 5px;
   padding: 8px 20px;
   border-radius: 10px;
   color: slategrey;
   border: none;
   background-color: white
}

.sidebar-title {
    display: inline-block;
    padding-right: 15px;
    color: white;
    font-family: sans-serif;
    font-size: 20px

}

.sidebar .room-name {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif
}

.sidebar .room-name:hover {
    cursor: pointer;
}


/*Modal*/


.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

/*Messages*/

.messages {
    position: fixed;
    top: 0px;
    left: 250px;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 1;
    overflow: scroll;
}


.messages-body {
    padding-right: 10px;
}

.messages-body .username {
    font-weight: bold;
}

.messages-body .timestamp {
    float: right;
    padding-right: 100px;
}

.messages-body .username .timestamp {
    display: inline-block;
}

.messages-body .user-message {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.message-field {
    bottom: 0;
    padding-bottom: 5px;
    position: fixed;
}

.message-box {
    width: 800px;
}