<div class="sidebar">
   <div class="sidebar-header" ng-controller='ModalCtrl as modals'> 
      <h1 class="sidebar-title" ui-sref="rooms">{{ home.heroTitle }}</h1>
     <p>
      <button type="button" class="new-button" ng-click="modals.open()">New Room</button></p>
   </div>

  <div class="rooms-list">
		<div ng-repeat="room in home.chatRooms" class="chatrooms">
          <p class="room-name" ng-click="home.setCurrentRoom(room)">{{room.$value}}</p>
		</div>
	</div>
 
<div class="messages">
    <div class="messages-header">
        <h3>{{ home.currentRoom.name }}</h3>
    </div>
    <div class="messages-body" ng-repeat="message in home.messages">
        <div class="username">{{ message.username }}</div>
        <div class="timestamp">{{ message.sentAt }}</div>
        <div class="user-message">{{ message.content }}</div>
    </div>
  
     <div class="input-bar">
        <form ng-submit="home.send(home.message, home.currentRoom)">
            <div class="input-group animated">
                <input type="text" class="form-control finderBar" ng-model="home.message" placeholder="Write your message here..." autofocus>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="home.send(home.message, home.currentRoom)">Send</button>
                </span>
            </div>
        </form>
</div>
</div>